<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Covid is still bad</title>
    <meta name="description" content="Covid is still bad">
    <meta name="author" content="Democracy Roadmap">
    <meta property="og:image" content="https://covid-is-still-bad.com">
    <meta property="og:title" content="Covid is still bad">
    <meta property="og:image" content="https://jjb.cc/covid-is-still-bad/graph.png" />
    <meta name="twitter:image" content="https://jjb.cc/covid-is-still-bad/graph.png" />
    <meta name="twitter:card" content="summary_large_image" />

<%#     <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
 %>
    <style>
      svg {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <%= File.open('graph.svg').read %>
  </body>
</html>
